*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_head{
    height: 10vh;
    width: 100vw;
}
.link_b{
    height: 7vh;
    width: 20vw;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
}
.nav_links :hover{
    background-color: darkgrey;
}
.nav_links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.nav_link{
    color:white;
}
.home_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    background-color: grey;
}
.home_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    border-radius: 100%;
    background-color: black;
}
.home_link{
    font-size: 3rem;
    color: white;
}
.div_name{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.section_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 400px;
    height: 200px;
    border-radius: 4%;
}
.h2_name{
    color: white;
    margin: 20px;
}
.text_name{
    height: 40px;
    font-size: 1.5rem;
}
.submit_name{
    height: 40px;
    font-size: 1.5rem;
}  
.div_input{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.section_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 400px;
    height: 200px;
    border-radius: 4%; 
}
.h2_input{
    margin: 20px;
    color: white;
    font-size: 2rem;
}
.text_input{
    height: 40px;
    font-size: 1.5rem;
}
.submit_input{
    height: 40px;
    font-size: 1.7rem;
}  
.div_spelling{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.section_sadd{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 400px;
    height: 200px;
    border-radius: 4%; 
    margin: 20px;
}
.h2_sadd{
    font-size: 1.3rem;
    color: white;
    margin: 20px;
}
.section_spelling{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 600px;
    height: 400px;
    border-radius: 4%; 
    margin: 20px;
}
.h2_spelling{
    font-size: 1.3rem;
    color: white;
    margin: 30px;
}
.select_spelling{
    height: 40px;
    font-size: 1.5 rem;
}
.option_spelling{
    font-size: 1rem;
}
.form_spelling{
    height: 40px;
}
.select_sadd{
    height: 40px;
    font-size: 1.5 rem;
}
.option_sadd{
    font-size: 1rem;
}
.submit_sadd{
    font-size: 1.5rem;
    height: 30px;
}
.submit_spelling{
    height: 40px;
    font-size: 1.7rem;
}
.h2_lost{
    color: black;
    font-size: 4rem;
}
.section_lost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 400px;
    height: 200px;
    border-radius: 4%; 
}
.h3_lost{
    color: white;
    font-size: 1.8rem;
    margin: 20px;
}
.div_addm{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
}
.section_addm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 400px;
    height: 300px;
    border-radius: 4%; 
}
.div_info{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.section_info{
    width: 90vw;
    height: 80vh;
    background-color: black;
    border-radius: 4%;
}
.h2_info{
    color: white;
    font-size: 1.6rem;
    margin: 20px;
}
.article_info{
    color: white;
    margin: 20px;
}
.h3_info{
    color: white;
    font-size: 1.2rem;
    margin: 20px;
}
